tout ignorer
/*

à ne pas ignorer
!.gitignore
!README.md
!/DOC
!/cypress/videos
!logo.png
!/e2e/page-objects/PageConnexion.js
!/e2e/page-objects/PageSubscription.js
!/e2e/step-defs/stepsConnexion.js
!/e2e/step-defs/stepsSubscription.js